body
{
	background-color: rgb(0, 0, 0); 
    color: #eaebe1;
    font-family: 'Poetsen One', sans-serif;
    font-size: 22px;
	margin: 0; /* Pour que l'image à la fin soit bien mise (pas de trou entre l'image et le bord de la fenetre)*/
	padding: 0;
}
a {
    text-decoration: none; /* Pour que les liens gardent leur apparence de base */
	color: inherit ;
}
a:hover {
    text-decoration: underline; 
}
#Titre
{
	font-family:'Chewy';
  	text-align: center;
	font-size: 30px;
	padding-top: 5%;
	margin-bottom: 100vh; /* pour laisser de larges espaces entre les planètes */
}
#T2 {
	margin-top: -30px; /* Pour que le h2 soit plus collé au h1*/ 
	font-size: 40px  ;
}
#Gazeuse img {
    margin-right: 20px; 
	padding-left: 2%;
	width: 850px; /* permet d'avoir des images de même taille */
	height:auto;
	transition: transform 2s ease; /* permet à l'effet d'aggrandissement de se faire en 2sec*/
}
#Gazeuse img:hover {
    transform: scale(1.6); /* agrandissement de l'image lors du survol de la souris */
}
#Tellurique img {
    margin-right: 20px; 
	padding-left: 5%;
	width: 650px;
	height:auto;
	transition: transform 2s ease; 
}
#Tellurique img:hover {
    transform: scale(1.4);
}
.Astre {
    display: flex;
    align-items: center;
	margin-bottom: 110vh;
}
.Satelite {
    display: flex;
    align-items: center;
	margin-bottom: 110vh;
}
.Satelite img {
    margin-right: 50px; 
	padding-left: 5%;
	width: 700px;
	height:auto;
	transition: transform 2s ease; /* permet à l'effet d'aggrandissement de se faire en 2sec*/
}
.Satelite img:hover {
    transform: scale(1.3); /* agrandissement de l'image lors du survol de la souris */
}
ul {
	margin-right: 200px; /*pour pas avoir de trop longues lignes*/	
}
ul li {
    margin-bottom: 10px; /* espacements entre les faits */
}
#infos {
	margin-top: -500px;
	list-style:decimal;
	list-style-position: inside;
}
#infos li {
    margin-bottom: 100px; /* Espacement entre chaque élément <li> */
}
#infos li::marker {
    color: #fae528; /* couleur des numéros de la liste */
}
#Contenu  {
    text-align: left; 
	margin-left: 15%;
}
footer {
	text-align: center; 
	font-family:'Chewy';
	font-size: 30px;
}
footer img {
	width: 100%; /* pour étirer l'image sur toute la largeur de la fenêtre*/ 
	max-width: 100%; 
	height: auto; /* permettre à la hauteur de l'image de s'adapter proportionnellement à la largeur */
    max-height: 750px; 
	margin-bottom: -50px;
}
a#p2 {
	display: inline-block; 
	padding: 10px 20px; /* espacement entre le contour et le texte*/
	border: 2px solid #e39e6f; /*solid pour voir le contour*/
	border-radius: 5px; 
	text-decoration: none; /* pour pas qu'il y ai le soulignement */
	color: #e39e6f; 
	margin-top: 100px;
  }
  a#p2:hover {
	background-color: #e39e6f; /* changement du fond quand on survole */
	color: #eaebe1; 
  }